<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>Join | ChatApp</title>
</head>
<body>

          <form action="/sign.html">
          <button>sign</button>
        </form>

          <form id="sign">
            <input type="text" id="name" name="username"/>
            <input type="text" id="pass" name="password" />
            <button type="submit">login</button>
          </form>
          <script>
            var testForm = document.getElementById('sign');
            testForm.onsubmit = function(event) {
              event.preventDefault();
        
              var request = new XMLHttpRequest();
              // POST to httpbin which returns the POST data as JSON
              request.open('POST', '/', true);
              request.setRequestHeader('Content-Type', 'application/json;charset=UTF-8')
                var username = document.getElementById("name").value
                var password = document.getElementById("pass").value
                var host = window.location.host
                body={username,password, host}
              request.onreadystatechange = function(){
                if(this.readyState===XMLHttpRequest.DONE&&this.status===200){
                  var view = request.responseText;
                  if (view ==='check if name or password is right'){
                    alert (view)
                  } else{
                    window.location.href = `/logged.html?token=${view}`
                  }
                 
                  // if (view==='logged in'){
                  //   window.location.href = "/logged.html"
                  // }
                }
              }
              request.send(JSON.stringify(body))
              // console.log(formData);
              // console.log(document.getElementById("name1").value)
            }
            </script>

</body>
</html>